img {
    width: 20em;
}

#arrow-icon {
  width: 200px;
  height: 200px;
}

.arrow-circle {
    fill: #bada55;
    stroke: #333;
    stroke-width: 5;
}


.arrow {
  fill: red;
  stroke: #fff;
  stroke-width: 5;
  transition: transform 2s;
  &:hover {
      transform: rotate(360deg);
      transform-origin: center;
  }

}